@import './_normalize.scss';
@import './_fonts.scss';
@import './_variables.scss';
@import './_grid.scss';

body {
  font-family: $headlineFontFamily;
  h2 {
    margin: 0;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    font-weight: bold;
    @include bpMedium {
      font-size: 40px;
      line-height: 46px;
    }
  }
  a {
    text-decoration: none;
    color: $black;
    border-bottom: 1px solid $hdRed;
    transition: color 250ms $easeOutMaterial;
    &:hover {
      color: $hdRed;
    }
  }
  p, li {
    font-size: 19px;
    line-height: 1.5;
  }
}