

$headlineFontFamily: 'Oswald', sans-serif;;
$bodyFontFamily: $headlineFontFamily;

$white: #FFF;
$black: #000;
$darkGrey: rgb(68, 68, 68);
$lightGrey: rgb(119, 119, 119);
$hdRed: #A62A1D;


$max-width: 1296px;

$test: 800px;

$md: 768px;

$appearDistance: 30px;
$appearDuration: 0.6s;
$appearEase: $authenticMotion;
$appearableAnimBaseDelay: 0ms;

$headerHeight: 85px;
$headerHeightMobile: 65px;

$sectionAnimDuration: 0.8s;
$slideAnimDuration: $sectionAnimDuration;

