

$headlineFontFamily: 'Open Sans Condensed', Arial, sans-serif;
$bodyFontFamily: $headlineFontFamily;

$white: #FFF;
$black: #000;
$hdRed: #A62A1D;


$max-width: 1296px;

$test: 800px;

$md: 768px;

$appearDistance: 30px;
$appearDuration: 0.6s;
$appearEase: $authenticMotion;
$appearableAnimBaseDelay: 0ms;

$sectionAnimDuration: 0.8s;
$slideAnimDuration: $sectionAnimDuration;

